html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.profile-photo {
  width: 100%;
  height: auto;
}

.resume-container {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  background-color: saddlebrown;
  color: white;
  text-shadow: 1px 1px 3px maroon;
}

h1 {
  font: status-bar;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px maroon;
}

body * {
  color: white !important;
  text-shadow: 1px 1px 3px maroon !important;
}
